
.DS_Store


node_modules/
.expo/
.expo-shared/
dist/
web-build/
npm-debug.log*
yarn-error.log
package-lock.json


ios/
android/
*.xcworkspace
Pods/


.env
.env.local
*.keystore
*.jks
*.p12
*.mobileprovision
